    body {
      font-weight: 200;
      padding: 0;
      margin: 0;
    }
    footer, main, header { padding: 1em; }
    header { border-bottom: 1px solid #e3e3e3; }
    @media screen and (min-width: 30em) {
      footer, main, header { padding: 2em; }
    }
    @media screen and (min-width: 64em) {
      footer, main, header { padding: 4em; }
    }
    h1 { font-weight: 100; line-height: 1.5; }
    h1 span { font-size: 16px; }
    span {  color: #777; font-weight: 100; }
    .copy { line-height: 1.6; max-width: 30em; }

     a:link,a:visited { text-decoration: none; color: #000; font-weight: 600; }
     a:hover,
     a:focus { opacity: 0.8; }

     nav a { padding-right: 1em; }
     nav { margin-bottom: 2rem; }
     footer {
       padding-top: 2rem;
       margin-top: 2rem;
       border-top: 1px solid #ddd;
     }
     footer a {
       padding-right: 2rem;
     }

