/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
u, b, i,
dl, dt, dd, ol, ul, li,
fieldset, input, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-weight: 100; }

h1 {
  font-size: 96px; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    h1 {
      font-size: 80px; } }
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 62px !important; } }

h2 {
  font-size: 62px; }
  @media screen and (max-width: 479px) {
    h2 {
      font-size: 48px; } }

h3 {
  font-size: 48px; }
  @media screen and (max-width: 479px) {
    h3 {
      font-size: 32px; } }

h4 {
  font-size: 32px; }
  @media screen and (max-width: 479px) {
    h4 {
      font-size: 28px; } }

h5 {
  font-size: 28px; }
  @media screen and (max-width: 479px) {
    h5 {
      font-size: 24px; } }

h6 {
  font-size: 24px; }
  @media screen and (max-width: 479px) {
    h6 {
      font-size: 21px; } }

p {
  font-size: 21px;
  line-height: 1.4;
  margin-bottom: 2em;
  font-weight: 100; }

p + p {
  text-indent: 1em; }

.intro, h1 + p {
  text-indent: 0;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 2em; }
  @media screen and (max-width: 479px) {
    .intro, h1 + p {
      font-size: 24px; } }

caption,
.meta {
  font-size: 13px;
  margin: 1em 0; }

blockquote {
  border-left: 10px solid #eee;
  padding: 1em 0 1em 1em;
  margin-top: 3em;
  margin-bottom: 3em; }
  blockquote p {
    margin-bottom: 1em;
    font-size: 32px; }
  blockquote footer {
    font-size: 16px;
    font-style: italic; }

address {
  font-size: 13px; }

var {
  font-family: monospace; }

time {
  font-size: 13px; }

p time {
  font-size: inherit; }

sup {
  vertical-align: super;
  font-size: .5em; }

sub {
  font-size: .5em;
  vertical-align: sub; }

img {
  width: 100%; }

body {
  padding: 5%;
  font-family: georgia,baskerville,serif;
  color: #222; }
