%nonpareille {
  font-size:8px;
}
%minion {
  font-size:9px;
}
%petit {
  font-size:11px;
}
%bourgeois {
  font-size:12px;
}
%long-primer {
  font-size:13px;
}
%small-pica {
  font-size:15px;
}
%pica {
  font-size:16px;
}
%english{
  font-size:19px;
}
%columbian {
  font-size:21px;
}
%great-primer {
  font-size:24px;
}
%double-small-pica {
  font-size:28px;
}
%double-pica {
  font-size:32px;
}
%double-great-primer {
  font-size:48px;
}
%canon {
  font-size:62px;
}
%five-line-pica {
  font-size:80px;
}
%inch {
  font-size:96px;
}
