
/* Mobile-first classes */

.nonpareille         { font-size: 8px;  }
.minion              { font-size: 9px;  }
.petit               { font-size: 11px; }
.bourgeois           { font-size: 12px; }
.long-primer         { font-size: 13px; }
.small-pica          { font-size: 15px; }
.pica                { font-size: 16px; }
.english             { font-size: 19px; }
.columbian           { font-size: 21px; }
.great-primer        { font-size: 24px; }
.double-small-pica   { font-size: 28px; }
.double-pica         { font-size: 32px; }
.double-great-primer { font-size: 48px; }
.canon               { font-size: 62px; }
.five-line-pica      { font-size: 80px; }
.inch                { font-size: 96px; }

@include break(not-small) {
  .nonpareille-ns         { font-size: 8px;  }
  .minion-ns              { font-size: 9px;  }
  .petit-ns               { font-size: 11px; }
  .bourgeois-ns           { font-size: 12px; }
  .long-primer-ns         { font-size: 13px; }
  .small-pica-ns          { font-size: 15px; }
  .pica-ns                { font-size: 16px; }
  .english-ns             { font-size: 19px; }
  .columbian-ns           { font-size: 21px; }
  .great-primer-ns        { font-size: 24px; }
  .double-small-pica-ns   { font-size: 28px; }
  .double-pica-ns         { font-size: 32px; }
  .double-great-primer-ns { font-size: 48px; }
  .canon-ns               { font-size: 62px; }
  .five-line-pica-ns      { font-size: 80px; }
  .inch-ns                { font-size: 96px; }
}

@include break(medium) {
  .nonpareille-m         { font-size: 8px;  }
  .minion-m              { font-size: 9px;  }
  .petit-m               { font-size: 11px; }
  .bourgeois-m           { font-size: 12px; }
  .long-primer-m         { font-size: 13px; }
  .small-pica-m          { font-size: 15px; }
  .pica-m                { font-size: 16px; }
  .english-m             { font-size: 19px; }
  .columbian-m           { font-size: 21px; }
  .great-primer-m        { font-size: 24px; }
  .double-small-pica-m   { font-size: 28px; }
  .double-pica-m         { font-size: 32px; }
  .double-great-primer-m { font-size: 48px; }
  .canon-m               { font-size: 62px; }
  .five-line-pica-m      { font-size: 80px; }
  .inch-m                { font-size: 96px; }
}

@include break(large) {
  .nonpareille-l         { font-size: 8px;  }
  .minion-l              { font-size: 9px;  }
  .petit-l               { font-size: 11px; }
  .bourgeois-l           { font-size: 12px; }
  .long-primer-l         { font-size: 13px; }
  .small-pica-l          { font-size: 15px; }
  .pica-l                { font-size: 16px; }
  .english-l             { font-size: 19px; }
  .columbian-l           { font-size: 21px; }
  .great-primer-l        { font-size: 24px; }
  .double-small-pica-l   { font-size: 28px; }
  .double-pica-l         { font-size: 32px; }
  .double-great-primer-l { font-size: 48px; }
  .canon-l               { font-size: 62px; }
  .five-line-pica-l      { font-size: 80px; }
  .inch-l                { font-size: 96px; }
}

