.f1,.inch {                 font-size: 96px; }
.f2,.five-line-pica {       font-size: 80px; }
.f3,.canon {                font-size: 62px; }
.f4,.double-great-primer {  font-size: 48px; }
.f5,.double-pica {          font-size: 32px; }
.f6,.double-small-pica {    font-size: 28px; }
.f7,.great-primer {         font-size: 24px; }
.f8,.columbian {            font-size: 21px; }
.f9,.english {              font-size: 19px; }
.f10,.pica {                font-size: 16px; }
.f11,.small-pica {          font-size: 15px; }
.f12,.long-primer {         font-size: 13px; }
.f13,.bourgeois {           font-size: 12px; }
.f14,.petit {               font-size: 11px; }
.f15,.minion {              font-size: 9px; }
.f16,.nonpareille {         font-size: 8px; }

@include break(non-small) {
  .f1-ns,  .inch-ns {                font-size: 96px; }
  .f2-ns,  .five-line-pica-ns {      font-size: 80px; }
  .f3-ns,  .canon-ns {               font-size: 62px; }
  .f4-ns,  .double-great-primer-ns { font-size: 48px; }
  .f5-ns,  .double-pica-ns {         font-size: 32px; }
  .f6-ns,  .double-small-pica-ns {   font-size: 28px; }
  .f7-ns,  .great-primer-ns {        font-size: 24px; }
  .f8-ns,  .columbian-ns {           font-size: 21px; }
  .f9-ns,  .english-ns {             font-size: 19px; }
  .f10-ns, .pica-ns {                font-size: 16px; }
  .f11-ns, .small-pica-ns {          font-size: 15px; }
  .f12-ns, .long-primer-ns {         font-size: 13px; }
  .f13-ns, .bourgeois-ns {           font-size: 12px; }
  .f14-ns, .petit-ns {               font-size: 11px; }
  .f15-ns, .minion-ns {              font-size: 9px; }
  .f16-ns, .nonpareille-ns {         font-size: 8px; }
}


@include break(medium) {
  .f1-m,  .inch-ns {                font-size: 96px; }
  .f2-m,  .five-line-pica-ns {      font-size: 80px; }
  .f3-m,  .canon-ns {               font-size: 62px; }
  .f4-m,  .double-great-primer-ns { font-size: 48px; }
  .f5-m,  .double-pica-ns {         font-size: 32px; }
  .f6-m,  .double-small-pica-ns {   font-size: 28px; }
  .f7-m,  .great-primer-ns {        font-size: 24px; }
  .f8-m,  .columbian-ns {           font-size: 21px; }
  .f9-m,  .english-ns {             font-size: 19px; }
  .f10-m, .pica-ns {                font-size: 16px; }
  .f11-m, .small-pica-ns {          font-size: 15px; }
  .f12-m, .long-primer-ns {         font-size: 13px; }
  .f13-m, .bourgeois-ns {           font-size: 12px; }
  .f14-m, .petit-ns {               font-size: 11px; }
  .f15-m, .minion-ns {              font-size: 9px; }
  .f16-m, .nonpareille-ns {         font-size: 8px; }

}
@include break(large) {
  .f1-l,  .inch-ns {                font-size: 96px; }
  .f2-l,  .five-line-pica-ns {      font-size: 80px; }
  .f3-l,  .canon-ns {               font-size: 62px; }
  .f4-l,  .double-great-primer-ns { font-size: 48px; }
  .f5-l,  .double-pica-ns {         font-size: 32px; }
  .f6-l,  .double-small-pica-ns {   font-size: 28px; }
  .f7-l,  .great-primer-ns {        font-size: 24px; }
  .f8-l,  .columbian-ns {           font-size: 21px; }
  .f9-l,  .english-ns {             font-size: 19px; }
  .f10-l, .pica-ns {                font-size: 16px; }
  .f11-l, .small-pica-ns {          font-size: 15px; }
  .f12-l, .long-primer-ns {         font-size: 13px; }
  .f13-l, .bourgeois-ns {           font-size: 12px; }
  .f14-l, .petit-ns {               font-size: 11px; }
  .f15-l, .minion-ns {              font-size: 9px; }
  .f16-l, .nonpareille-ns {         font-size: 8px; }
}

