/* ==========================================================================
   TYPOGRAPHIC STYLE

   - Headings
   - Paragraphs
   - Quotes
   - Random
   - Super & Subscript 
   ========================================================================== */


/* Headings
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  letter-spacing: .1em;
  line-height:1.3;
}

h1,.h1 {
  margin-bottom: 0;
  font-size: $inch;
  @include breakpoint(tablet) {
    font-size: $five-line-pica;
  }
  @include breakpoint(mobile) {
    font-size: $canon!important;
  }
}

h2,.h2 {
  font-size: $canon;
  @include breakpoint(mobile) {
    font-size: $double-great-primer;
  }
}

h3,.h3 {
  font-size: $double-great-primer;
  @include breakpoint(mobile) {
    font-size: $double-pica; 
  }
}

h4,.h4 {
  font-size: $double-pica;
  font-weight: bold;
  @include breakpoint(mobile) {
    font-size: $double-small-pica;
  }
}

h5,.h5 {
  font-size: $double-small-pica;
  text-transform:uppercase;
  @include breakpoint(mobile) {
    font-size: $great-primer;
  }
}

h6,.h6 {
  font-size: $great-primer;
  @include breakpoint(mobile) {
    font-size: $columbian;
  }
}



/* Paragraphs
   ========================================================================== */

p {
  font-size: $columbian;
  line-height: 1.618;
  margin-bottom: 2em;
  font-weight: 100;
}

p + p {
  text-indent: 1em;
}

.intro,
h1 + p {
  text-indent: 0;
  font-size: $double-small-pica; 
  font-style: italic;
  margin-bottom: 2em;
  @include breakpoint(mobile) {
    font-size: $great-primer;
  }
}

caption,
.meta {
  font-size: $long-primer;
  margin: 1em 0;
}



/* Quotes
   ========================================================================== */

blockquote {
  border-left: 10px solid #eee;
  padding: 1em 0 1em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 0;
  p {
    margin-bottom: 1em;
    font-size: $double-pica;
  }
  footer {
    font-size: $pica;
    font-style: italic;
  }
}



/* Random
   ========================================================================== */

address { font-size: $long-primer; }
time    { font-size: $long-primer; }
var     { font-family: monospace; }
p time  { font-size: inherit; }



/* Super & Subscript
   ========================================================================== */

sup,sub { font-size: .5em; }
sup     { vertical-align: super; }
sub     { vertical-align: sub; }

body { 
  font-family: $serif; 
  font-size: 20px;
  padding: 0 30px;
  max-width: 768px;
  margin: 0 auto;
}

img {max-width:100%;}

/* Utilities
   ========================================================================== */
.b { font-weight:bold; }
.caps-lock { text-transform: uppercase; }
.center { text-align: center;}
.no-indent {text-indent: 0;}

