/* ==========================================================================
   TYPOGRAPHIC STYLE

   - Headings
   - Paragraphs
   - Quotes
   - Random
   - Super & Subscript 
   ========================================================================== */


/* Headings
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
  font-weight: 100;
}

h1 {
  font-size: $inch;
  @include breakpoint(tablet) {
    font-size: $five-line-pica;
  }
  @include breakpoint(mobile) {
    font-size: $canon!important;
  }
}

h2 {
  font-size: $canon;
  @include breakpoint(mobile) {
    font-size: $double-great-primer;
  }
}

h3 {
  font-size: $double-great-primer;
  @include breakpoint(mobile) {
    font-size: $double-pica; 
  }
}

h4 {
  font-size: $double-pica;
  @include breakpoint(mobile) {
    font-size: $double-small-pica;
  }
}

h5 {
  font-size: $double-small-pica;
  @include breakpoint(mobile) {
    font-size: $great-primer;
  }
}

h6 {
  font-size: $great-primer;
  text-transform: uppercase;
  letter-spacing:.1em;
  @include breakpoint(mobile) {
    font-size: $columbian;
  }
}



/* Paragraphs
   ========================================================================== */

p {
  font-size: $columbian;
  line-height: 1.4;
  margin-bottom: 2em;
  font-weight: 100;
}

p + p {
  text-indent: 1em;
}

.intro,
h1 + p {
  text-indent: 0;
  font-size: $double-small-pica; 
  font-style: italic;
  margin-bottom: 2em;
  @include breakpoint(mobile) {
    font-size: $great-primer;
  }
}

caption,
.meta {
  font-size: $long-primer;
  margin: 1em 0;
}



/* Quotes
   ========================================================================== */

blockquote {
  border-left: 10px solid #eee;
  padding: 1em 0 1em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  p {
    margin-bottom: 1em;
    font-size: $double-pica;
  }
  footer {
    font-size: $pica;
    font-style: italic;
  }
}



/* Random
   ========================================================================== */

address { font-size: $long-primer; }
time    { font-size: $long-primer; }
var     { font-family: monospace; }
p time  { font-size: inherit; }



/* Super & Subscript
   ========================================================================== */

sup,sub {font-size: .5em;}
sup { vertical-align: super; }
sub { vertical-align: sub; }
