/*
 *
 * TYPE UTILITIES
 *
 */

.tracked-big {
  text-transform: uppercase;
  letter-spacing: .05em;
}

.tracked-big {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.b    { font-weight: bold;}
.thin { font-weight: thin; }

