/* ==========================================================================
   VARIABLES
   ========================================================================== */

$nonpareille:         8px!default;
$minion:              9px!default;
$petit:               11px!default;
$bourgeois:           12px!default;
$long-primer:         13px!default;
$small-pica:          15px!default;
$pica:                16px!default;
$english:             19px!default;
$columbian:           21px!default;
$great-primer:        24px!default;
$double-small-pica:   28px!default;
$double-pica:         32px!default;
$double-great-primer: 48px!default;
$canon:               62px!default;
$five-line-pica:      80px!default;
$inch:                96px!default;

